body {
  background-color: $bg-body !important;
}

.container {
  margin-left: 5% !important;
  width: 90% !important;
}

@media screen and (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .extra-pt {
    margin-top: 100px !important;
  }
}

.grid {
  padding-bottom: 60px;
}

.g-col-sm-3 {
  border-radius: 15px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
